<nav class="navbar">
  <a class="navbar-brand-group" href="{{ "" | relURL }}">
    <img class="ncw-logo" src="{{ "small/njcw.jpg" | relURL }}" alt="Nick Craig-Wood">
    <span class="navbar-brand-name">Nick Craig-Wood</span>
  </a>

  <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">Articles</a>
        <div class="dropdown-menu">
          {{ with .Site.GetPage "articles" }}
          {{ range .Pages }}
          <a class="dropdown-item" href="{{.Permalink | relURL }}">{{ partial "icon.html" "book" }} {{.Title}}</a>
          {{ end }}
          {{ end }}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">Software</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="http://rclone.org" target="_blank">{{ partial "icon.html" "external-link" }} rclone: rsync for cloud storage</a>
          <a class="dropdown-item" href="https://github.com/go-python/gpython" target="_blank">{{ partial "icon.html" "external-link" }} gpython: python in go</a>
          <a class="dropdown-item" href="https://github.com/ncw" target="_blank">{{ partial "icon.html" "external-link" }} More on GitHub</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ "android/" | relURL }}">{{ partial "icon.html" "download" }} Android</a>
          <a class="dropdown-item" href="{{ "riscos/" | relURL }}">{{ partial "icon.html" "download" }} RISCOS</a>
          <a class="dropdown-item" href="{{ "armprime/" | relURL }}">{{ partial "icon.html" "download" }} ARM prime tester</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ "pub/" | relURL }}">{{ partial "icon.html" "download" }} Scripts &amp; files</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">Personal</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ "personal/" | relURL }}">{{ partial "icon.html" "user" }} About me</a>
          <a class="dropdown-item" href="{{ "xmas/" | relURL }}">{{ partial "icon.html" "user" }} Christmas letters</a>
          <a class="dropdown-item" href="{{ "holly/" | relURL }}">{{ partial "icon.html" "user" }} Cocker Spaniel Now!</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">Fun</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ "johnroids/" | relURL }}">{{ partial "icon.html" "grin" }} Johnroids</a>
          <a class="dropdown-item" href="{{ "oxo2d/" | relURL }}">{{ partial "icon.html" "grin" }} Noughts &amp; Crosses</a>
          <a class="dropdown-item" href="{{ "oxo3d/" | relURL }}">{{ partial "icon.html" "grin" }} 3D Noughts &amp; Crosses</a>
          <a class="dropdown-item" href="{{ "animations/" | relURL }}">{{ partial "icon.html" "grin" }} Juggling animations</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">Radio</a>
        <div class="dropdown-menu">
          {{ with .Site.GetPage "radio" }}
          {{ range .Pages }}
          <a class="dropdown-item" href="{{.Permalink | relURL }}">{{ partial "icon.html" "radio" }} {{.Title}}</a>
          {{ end }}
          {{ end }}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "contact/" | relURL }}">{{ partial "icon.html" "envelope" }} Contact</a>
      </li>
    </ul>
  </div>
</nav>
