<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="{{ "/" | relURL }}"><img class="ncw-logo" src="{{ "small/njcw.jpg" | relURL }}" alt="Nick Craig-Wood"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{ with .Site.GetPage "articles" }}
          {{ range .Pages }}
          <a class="dropdown-item" href="{{.Permalink | relURL }}"><i class="fa fa-book"></i> {{.Title}}</a>
          {{ end }}
          {{ end }}
        </div>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Software
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://rclone.org" target="_blank"><i class="fas fa-external-link-alt"></i> rclone: rsync for cloud storage</a>
          <a class="dropdown-item" href="https://github.com/go-python/gpython" target="_blank"><i class="fas fa-external-link-alt"></i> gpython: a python interpreter written in go "batteries not included"</a>
          <a class="dropdown-item" href="https://github.com/ncw" target="_blank"><i class="fas fa-external-link-alt"></i> More of my Open Source software at GitHub</a>
          <div class="dropdown-divider"></div>          
          <a class="dropdown-item" href="{{ "android/" | relURL }}"><i class="fa fa-download"></i> Software for Android</a>
          <a class="dropdown-item" href="{{ "riscos/" | relURL }}"><i class="fa fa-download"></i> Software for RISCOS</a>
          <a class="dropdown-item" href="{{ "armprime/" | relURL }}"><i class="fa fa-download"></i> ARM based Mersenne prime tester for GIMPS</a>
          <div class="dropdown-divider"></div>          
          <a class="dropdown-item" href="{{ "pub/" | relURL }}"><i class="fa fa-download"></i> My dumping ground for useful scripts</a>
        </div>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Personal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ "personal/" | relURL }}"><i class="fas fa-user"></i> Nick Craig-Wood's personal page</a>
          <a class="dropdown-item" href="{{ "xmas/" | relURL }}"><i class="fas fa-user"></i> The Christmas letter archive</a>
          <a class="dropdown-item" href="{{ "holly/" | relURL }}"><i class="fas fa-user"></i> Cocker Spaniel Now!</a>
        </div>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fun
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ "johnroids/" | relURL }}"><i class="far fa-grin"></i> Johnroids - kill John in your browser!</a>
          <a class="dropdown-item" href="{{ "oxo2d/" | relURL }}"><i class="far fa-grin"></i> An HTML noughts-and-crosses / tic-tac-toe player</a>
          <a class="dropdown-item" href="{{ "oxo3d/" | relURL }}"><i class="far fa-grin"></i> 3D noughts-and-crosses in the browser</a>
          <a class="dropdown-item" href="{{ "animations/" | relURL }}"><i class="far fa-grin"></i> Some daft juggling animations</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ "/contact/" | relURL }}"><i class="fa fa-envelope"></i> Contact</a>
      </li>
    </ul>
    <a class="navbar-brand" href="{{ "/" | relURL }}">Nick Craig-Wood</a>
  </div>
</nav>
